<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Document</title>
   
</head>
<body>


<form action="/action_page.php">
<!-- Unchecked -->
<input class="ps-checkbox" type="checkbox" name="checkbox1" value="Primarycheckbox"> <label>Checkbox</label><br>


</form>
    <script>
// Make the checkbox indeterminate via JavaScript
var checkbox = document.getElementById("Indeterminate");
checkbox.indeterminate = true;
</script>
</body>
</html>